// Variables

// Couleurs 
$background: #f7f7f7;
$secondary: #fca311;
$primary: #9356dc;
$pink: #FF79DA;
$green: #99e2d0;
$green-font: #008766;
$new-green: #99e2d0;
$white: #ffffff;
$black: #101010;
$gray: #353535;
$gray-two: #eaeaea;

$key-width-responsive: 953px;

// Mixin
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    // @include flex-center;
}

@mixin background-btn($primary, $pink) {
    background: linear-gradient($pink, $primary);
    // @include background-btn($primary, $pink);
}

@mixin fit-desktop-index {
    width: 953px;
    // @include fit-decktop-index;
}





// Partie Police
* {
    font-family: "Roboto", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.page-principale {
    width: 100%;
    margin: auto;
}


// -------- Partie STYLE de la page Index ----------
// Partie Header 
.header-index {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: $white;

    nav {
        height: 63px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        @include flex-center;

        .logo-site {
            width: 150px;
            height: 30px;

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* Partie main  */
.main-index {
    padding-top: 63px;

    // Blocs Localisation et Exploration 
    .localisation-exploration {

        // Bloc Localisation
        .localisation {
            width: 100%;
            height: 50px;
            @include flex-center;
            background-color: $gray-two;

            form {
                display: flex;
                width: 180px;
                align-items: center;
                font-size: 16px;

                button,
                input {
                    color: $gray;
                    height: 100%;
                    font-weight: bold;
                }

                button {
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    width: 25%;
                }

                input {
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    width: 60%;
                }
            }
        }

        /* Bloc Exploration  */
        .exploration {
            @include flex-center;
            text-align: center;
            flex-direction: column;
            background-color: $background;
            height: 240px;
            padding-bottom: 15px;

            .texte-exploration {
                width: 90%;
                height: 60%;

                h2 {
                    margin-block-end: 0px;
                    font-weight: bold;
                }

                p {
                    margin-block-end: 0px;
                }

                @media screen and (min-width: 768px) {
                    width: 100%;

                    h2 {
                        font-size: 37px;
                    }

                }
            }

            a {
                width: 219px;
                height: 50px;
                margin-top: 10px;
                @include flex-center;
                border-radius: 55px;
                @include background-btn($primary, $pink);
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                color: $white;
                font-weight: bold;
                text-decoration: none;


                &:hover {
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15)), linear-gradient($pink, $primary);
                    transform: matrix();

                    span {
                        // transition-delay: 150ms;
                        transform: matrix(1, 0, 0, 1, -1.7, 0.9);

                        &:hover {
                            transition-delay: 400ms;
                            transform: none;
                        }

                    }
                }
            }


        }
    }

    /* Bloc fonctionnement */
    .fonctionnement {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 380px;
        background-color: $white;

        // Le titre du bloc "Fonctionnment"
        .titre-fonctionnement {
            width: 219px;
            margin-left: -25px;

            h2 {
                margin-block-end: 0;
            }

        }

        // Gestions de boites-fonctionnement 
        .boites-fonctionnement {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 280px;

            //  Gestions des boites 
            a {
                background-color: $background;
                width: 90%;
                height: 62.38px;
                padding-right: 20px;
                border-radius: 20px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                display: flex;
                align-items: center;
                text-decoration: none;
                justify-content: space-around;
                font-size: 15px;
                color: $black;

                &:hover i {
                    color: $primary;
                }

                i {
                    margin-left: 10px;
                }

                p {
                    width: 100%;
                    margin-left: 15px;
                    font-weight: bold;
                }

                .nombre {
                    background-color: $primary;
                    color: $white;
                    border-radius: 50%;
                    width: 30px;
                    height: 25px;
                    @include flex-center;
                    margin-left: -15px;
                }
            }



        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 150px;

            .titre-fonctionnement {
                width: 80%;
                margin-left: 0px;
            }

            .boites-fonctionnement {

                width: 80%;
                height: 100px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                a {
                    width: 25%;

                    p {
                        margin-left: 8px;
                        text-align: center;
                    }

                    .nombre {
                        margin-left: -14px;
                    }
                }
            }
        }

        @media screen and (min-width: 1024px) {
            height: 150px;

            .titre-fonctionnement {
                width: 80%;
                @include fit-desktop-index;
                margin-left: 0px;
            }

            .boites-fonctionnement {
                // border: 6px $green-font solid;
                width: 80%;
                @include fit-desktop-index;
                height: 100px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                a {
                    width: 28%;
                    max-width: 258px;

                    p {
                        margin-right: 30px;
                        text-align: center;

                    }

                    i {
                        margin-left: 20px;
                    }

                    .nombre {
                        margin-left: -14px;
                    }
                }
            }
        }

    }

    /* Bloc restaurants */
    .restaurants {
        height: 1000px;
        margin-top: 50px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $background;

        .titre-restaurants {
            width: 219px;
            margin-left: -35px;

            h2 {
                // margin-block-start: 0;
                margin-block-end: 0em;
            }
        }

        .cartes-restaurants {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            /* Gestion des cartes restaurants */
            article {
                width: 95%;
                max-width: 340px;
                height: 196px;
                border-radius: 15px;
                overflow: hidden;
                position: relative;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                margin-top: 15px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 141px;
                    }

                    .nouveau {
                        background-color: $new-green;
                        text-align: center;
                        height: 19px;
                        width: 75px;
                        position: relative;
                        bottom: 70%;
                        left: 68.5%;
                        font-size: 13px;
                        padding-top: 3px;

                        p {
                            margin-block-start: 0;
                            margin-block-end: 0;
                            color: $green-font;
                            font-weight: bold;
                        }
                    }

                    .ancien {
                        visibility: hidden;
                    }

                    .description-coeur-carte {
                        position: relative;
                        bottom: 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding-left: 10px;
                        padding-right: 15px;

                        .description {

                            h4,
                            p {
                                margin-block-start: 2px;
                                margin-block-end: 0;
                                color: black;
                            }

                            p {
                                font-size: 14px;
                            }
                        }

                        .fa {
                            width: 22px;
                            height: 21px;
                            text-align: center;
                            font-size: 20px;
                            margin-top: 10px;

                            color: $background;
                            -webkit-text-stroke-width: 2px;
                            -webkit-text-stroke-color: $primary;

                            &:active {
                                color: $primary;
                            }
                        }

                    }

                }
            }

        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 620px;

            .titre-restaurants {
                width: 85.5%;
            }

            .cartes-restaurants {
                width: 90%;
                margin-top: 15px;

                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 200px 200px;
                gap: 30px;

                article {
                    width: 95%;
                    max-width: none;

                    a {
                        .nouveau {
                            left: 78.5%;
                        }
                    }

                }
            }
        }

        @media screen and (min-width: 1023px) {
            height: 550px;

            .titre-restaurants {

                width: 910px;
            }

            .cartes-restaurants {
                width: 90%;
                max-width: 953px;
                margin-top: 15px;

                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 200px 200px;
                gap: 30px;

                article {
                    width: 95%;
                    max-width: none;

                    a {
                        .nouveau {
                            left: 79%;
                            bottom: 68%;
                        }
                    }
                }
            }
        }

    }
}


//----------------------------------------------------------
// ----------Partie STYLE des pages des Restaurants---------
//----------------------------------------------------------
.menu-restaurant__restaurant-titre h2,
.titre-footer h3 {
    font-family: "Shrikhand", cursive;
    font-weight: normal;
}

// Partie Header 
.header-restaurant {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    @include flex-center;

    .nav {
        width: 80%;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 25%;

        &__retour-index {
            color: $black;
            font-size: 24px;

            &:hover {
                color: $primary;
            }
        }

        &__logo-site {
            width: 150px;
            height: 30px;

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Partie Main 
.main-restaurant {
    background-color: $background;

    // Gestion de la baniere 
    .baniere {
        width: 100%;
        height: 330px;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    // Gestion du menu du restaurant 
    .menu-restaurant {
        padding: 30px 2% 0 2%;
        border-radius: 40px 40px 0 0;
        position: relative;
        z-index: 1;
        bottom: 40px;
        @include flex-center;
        flex-direction: column;
        background-color: $background;

        &__restaurant-titre {
            width: 349px;
            display: flex;
            justify-content: space-between;

            & h2 {
                font-size: 1.35em;
            }

            &--coeur {
                @include flex-center;
                font-size: 24px;
            }
        }

        // Gestion des sections
        section {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;

            // Gestion des titres des sections 
            .titre-section {
                width: 349px;
                padding-bottom: 0;

                & h3 {
                    width: 13%;
                    border-bottom: 3px $new-green solid;
                    margin-block-end: 10px;
                }
            }

            // Gestion des cartes dans les menus
            .carte-menu {
                width: 349px;
                height: 70px;
                margin-top: 15px;
                background-color: $white;
                box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                padding-left: 4%;
                border-radius: 15px;
                overflow: hidden;

                .titre-menu {
                    overflow-x: hidden;

                    h4,
                    p {
                        margin-block-start: 3px;
                        margin-block-end: 3px;
                        width: 300px;
                    }

                    h4 {
                        font-size: 15px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

                .prix-check {
                    display: flex;
                    height: 100%;
                    position: relative;
                    left: 50px;

                    h5 {
                        display: flex;
                        align-items: flex-end;
                        margin-right: 10px;
                        margin-bottom: 15px
                    }

                    .check {
                        @include flex-center;
                        background-color: $new-green;
                        color: $white;
                        width: 50px;
                        border-radius: 0 15px 15px 0;
                    }
                }

            }
        }

        .btn {
            width: 186px;
            height: 50px;
            margin-top: 50px;
            border-radius: 25px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            color: $white;
            @include flex-center;
            @include background-btn($primary, $pink);
        }
    }

}

// Partie STYLE du Footer des pages Index ET Restaurants
footer {
    background-color: $gray;
    color: $white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 200px;

    .mentions {
        display: flex;
        flex-direction: column;
        margin-left: 5%;

        .titre-footer {
            width: 140px;
            height: 30px;
            margin-bottom: 20px;

            h3 {
                font-size: 18px;
            }
        }

        .liens-footer {
            display: flex;
            flex-direction: column;

            a {
                color: white;
                text-decoration: none;
                margin-top: 5px;

                p {
                    margin-block-start: 0;
                    margin-block-end: 0;
                }

                i {
                    font-size: 11.92px;
                    height: 13px;
                    width: 15px;
                }

                span {
                    margin-left: 10px;
                }
            }

        }

    }

    @media screen and (min-width: 768px) {
        height: 100px;

        .mentions {
            flex-direction: row-reverse;
            align-items: self-end;
            margin-top: 25px;
            margin-right: 30px;

            h3 {
                margin-block-start: 19%;
                margin-block-end: 0;
                text-align: end;
            }

            .liens-footer {

                flex-direction: row;
                align-items: self-end;
                justify-content: space-around;
                height: 100%;

                a {
                    margin-right: 30px;
                }
            }
        }
    }
}