* {
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.page-principale {
  width: 100%;
  margin: auto;
}

.header-index {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
}
.header-index nav {
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-index nav .logo-site {
  width: 150px;
  height: 30px;
}
.header-index nav .logo-site img {
  width: 100%;
  height: 100%;
}

/* Partie main  */
.main-index {
  padding-top: 63px;
  /* Bloc fonctionnement */
  /* Bloc restaurants */
}
.main-index .localisation-exploration {
  /* Bloc Exploration  */
}
.main-index .localisation-exploration .localisation {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}
.main-index .localisation-exploration .localisation form {
  display: flex;
  width: 180px;
  align-items: center;
  font-size: 16px;
}
.main-index .localisation-exploration .localisation form button,
.main-index .localisation-exploration .localisation form input {
  color: #353535;
  height: 100%;
  font-weight: bold;
}
.main-index .localisation-exploration .localisation form button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 25%;
}
.main-index .localisation-exploration .localisation form input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 60%;
}
.main-index .localisation-exploration .exploration {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #f7f7f7;
  height: 240px;
  padding-bottom: 15px;
}
.main-index .localisation-exploration .exploration .texte-exploration {
  width: 90%;
  height: 60%;
}
.main-index .localisation-exploration .exploration .texte-exploration h2 {
  margin-block-end: 0px;
  font-weight: bold;
}
.main-index .localisation-exploration .exploration .texte-exploration p {
  margin-block-end: 0px;
}
@media screen and (min-width: 768px) {
  .main-index .localisation-exploration .exploration .texte-exploration {
    width: 100%;
  }
  .main-index .localisation-exploration .exploration .texte-exploration h2 {
    font-size: 37px;
  }
}
.main-index .localisation-exploration .exploration a {
  width: 219px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 55px;
  background: linear-gradient(#FF79DA, #9356dc);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.main-index .localisation-exploration .exploration a:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15)), linear-gradient(#FF79DA, #9356dc);
  transform: matrix();
}
.main-index .localisation-exploration .exploration a:hover span {
  transform: matrix(1, 0, 0, 1, -1.7, 0.9);
}
.main-index .localisation-exploration .exploration a:hover span:hover {
  transition-delay: 400ms;
  transform: none;
}
.main-index .fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 380px;
  background-color: #ffffff;
}
.main-index .fonctionnement .titre-fonctionnement {
  width: 219px;
  margin-left: -25px;
}
.main-index .fonctionnement .titre-fonctionnement h2 {
  margin-block-end: 0;
}
.main-index .fonctionnement .boites-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 280px;
}
.main-index .fonctionnement .boites-fonctionnement a {
  background-color: #f7f7f7;
  width: 90%;
  height: 62.38px;
  padding-right: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
  font-size: 15px;
  color: #101010;
}
.main-index .fonctionnement .boites-fonctionnement a:hover i {
  color: #9356dc;
}
.main-index .fonctionnement .boites-fonctionnement a i {
  margin-left: 10px;
}
.main-index .fonctionnement .boites-fonctionnement a p {
  width: 100%;
  margin-left: 15px;
  font-weight: bold;
}
.main-index .fonctionnement .boites-fonctionnement a .nombre {
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-index .fonctionnement {
    height: 150px;
  }
  .main-index .fonctionnement .titre-fonctionnement {
    width: 80%;
    margin-left: 0px;
  }
  .main-index .fonctionnement .boites-fonctionnement {
    width: 80%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-index .fonctionnement .boites-fonctionnement a {
    width: 25%;
  }
  .main-index .fonctionnement .boites-fonctionnement a p {
    margin-left: 8px;
    text-align: center;
  }
  .main-index .fonctionnement .boites-fonctionnement a .nombre {
    margin-left: -14px;
  }
}
@media screen and (min-width: 1024px) {
  .main-index .fonctionnement {
    height: 150px;
  }
  .main-index .fonctionnement .titre-fonctionnement {
    width: 80%;
    width: 953px;
    margin-left: 0px;
  }
  .main-index .fonctionnement .boites-fonctionnement {
    width: 80%;
    width: 953px;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-index .fonctionnement .boites-fonctionnement a {
    width: 28%;
    max-width: 258px;
  }
  .main-index .fonctionnement .boites-fonctionnement a p {
    margin-right: 30px;
    text-align: center;
  }
  .main-index .fonctionnement .boites-fonctionnement a i {
    margin-left: 20px;
  }
  .main-index .fonctionnement .boites-fonctionnement a .nombre {
    margin-left: -14px;
  }
}
.main-index .restaurants {
  height: 1000px;
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
.main-index .restaurants .titre-restaurants {
  width: 219px;
  margin-left: -35px;
}
.main-index .restaurants .titre-restaurants h2 {
  margin-block-end: 0em;
}
.main-index .restaurants .cartes-restaurants {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Gestion des cartes restaurants */
}
.main-index .restaurants .cartes-restaurants article {
  width: 95%;
  max-width: 340px;
  height: 196px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
.main-index .restaurants .cartes-restaurants article a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.main-index .restaurants .cartes-restaurants article a img {
  object-fit: cover;
  width: 100%;
  height: 141px;
}
.main-index .restaurants .cartes-restaurants article a .nouveau {
  background-color: #99e2d0;
  text-align: center;
  height: 19px;
  width: 75px;
  position: relative;
  bottom: 70%;
  left: 68.5%;
  font-size: 13px;
  padding-top: 3px;
}
.main-index .restaurants .cartes-restaurants article a .nouveau p {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #008766;
  font-weight: bold;
}
.main-index .restaurants .cartes-restaurants article a .ancien {
  visibility: hidden;
}
.main-index .restaurants .cartes-restaurants article a .description-coeur-carte {
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;
}
.main-index .restaurants .cartes-restaurants article a .description-coeur-carte .description h4,
.main-index .restaurants .cartes-restaurants article a .description-coeur-carte .description p {
  margin-block-start: 2px;
  margin-block-end: 0;
  color: black;
}
.main-index .restaurants .cartes-restaurants article a .description-coeur-carte .description p {
  font-size: 14px;
}
.main-index .restaurants .cartes-restaurants article a .description-coeur-carte .fa {
  width: 22px;
  height: 21px;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: #f7f7f7;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9356dc;
}
.main-index .restaurants .cartes-restaurants article a .description-coeur-carte .fa:active {
  color: #9356dc;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-index .restaurants {
    height: 620px;
  }
  .main-index .restaurants .titre-restaurants {
    width: 85.5%;
  }
  .main-index .restaurants .cartes-restaurants {
    width: 90%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 30px;
  }
  .main-index .restaurants .cartes-restaurants article {
    width: 95%;
    max-width: none;
  }
  .main-index .restaurants .cartes-restaurants article a .nouveau {
    left: 78.5%;
  }
}
@media screen and (min-width: 1023px) {
  .main-index .restaurants {
    height: 550px;
  }
  .main-index .restaurants .titre-restaurants {
    width: 910px;
  }
  .main-index .restaurants .cartes-restaurants {
    width: 90%;
    max-width: 953px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 30px;
  }
  .main-index .restaurants .cartes-restaurants article {
    width: 95%;
    max-width: none;
  }
  .main-index .restaurants .cartes-restaurants article a .nouveau {
    left: 79%;
    bottom: 68%;
  }
}

.menu-restaurant__restaurant-titre h2,
.titre-footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

.header-restaurant {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-restaurant .nav {
  width: 80%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 30%;
}
.header-restaurant .nav__retour-index {
  color: #101010;
  font-size: 24px;
}
.header-restaurant .nav__retour-index:hover {
  color: #9356dc;
}
.header-restaurant .nav__logo-site {
  width: 150px;
  height: 30px;
}
.header-restaurant .nav__logo-site img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-restaurant .nav {
    width: 100%;
    padding-right: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .header-restaurant .nav {
    width: 100%;
    padding-right: 45%;
  }
}

.main-restaurant {
  background-color: #f7f7f7;
}
.main-restaurant .baniere {
  width: 100%;
  height: 330px;
}
.main-restaurant .baniere img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-restaurant .menu-restaurant {
  padding: 30px 2% 0 2%;
  border-radius: 40px 40px 0 0;
  position: relative;
  z-index: 1;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
}
.main-restaurant .menu-restaurant__restaurant-titre {
  width: 349px;
  display: flex;
  justify-content: space-between;
}
.main-restaurant .menu-restaurant__restaurant-titre h2 {
  font-size: 1.35em;
}
.main-restaurant .menu-restaurant__restaurant-titre--coeur {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 8%;
}
@media screen and (min-width: 768px) {
  .main-restaurant .menu-restaurant__restaurant-titre {
    width: 37%;
    max-width: 300px;
  }
}
.main-restaurant .menu-restaurant section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-restaurant .menu-restaurant section .titre-section {
  width: 99.8%;
  max-width: 634px;
  padding-bottom: 0;
}
.main-restaurant .menu-restaurant section .titre-section h3 {
  width: 13%;
  max-width: 40px;
  border-bottom: 3px #99e2d0 solid;
  margin-block-end: 10px;
}
.main-restaurant .menu-restaurant section .carte-menu {
  width: 99.8%;
  max-width: 634px;
  height: 70px;
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border-radius: 15px;
  overflow: hidden;
}
.main-restaurant .menu-restaurant section .carte-menu .titre-menu {
  overflow-x: hidden;
}
.main-restaurant .menu-restaurant section .carte-menu .titre-menu h4,
.main-restaurant .menu-restaurant section .carte-menu .titre-menu p {
  margin-block-start: 3px;
  margin-block-end: 3px;
  width: 300px;
}
.main-restaurant .menu-restaurant section .carte-menu .titre-menu h4 {
  font-size: 15px;
}
.main-restaurant .menu-restaurant section .carte-menu .titre-menu p {
  font-size: 12px;
}
.main-restaurant .menu-restaurant section .carte-menu .prix-check {
  display: flex;
  height: 100%;
  position: relative;
  left: 50px;
}
.main-restaurant .menu-restaurant section .carte-menu .prix-check h5 {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  margin-bottom: 15px;
}
.main-restaurant .menu-restaurant section .carte-menu .prix-check .check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: #ffffff;
  width: 50px;
  border-radius: 0 15px 15px 0;
  visibility: hidden;
}
.main-restaurant .menu-restaurant .btn {
  width: 186px;
  height: 50px;
  margin-top: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#FF79DA, #9356dc);
}
@media screen and (min-width: 768px) {
  .main-restaurant {
    background-color: #ffffff;
  }
  .main-restaurant .baniere {
    height: 380px;
  }
  .main-restaurant .menu-restaurant {
    max-width: 768px;
    margin: auto;
  }
}

footer {
  background-color: #353535;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 200px;
}
footer .mentions {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
footer .mentions .titre-footer {
  width: 140px;
  height: 30px;
  margin-bottom: 20px;
}
footer .mentions .titre-footer h3 {
  font-size: 18px;
}
footer .mentions .liens-footer {
  display: flex;
  flex-direction: column;
}
footer .mentions .liens-footer a {
  color: white;
  text-decoration: none;
  margin-top: 5px;
}
footer .mentions .liens-footer a p {
  margin-block-start: 0;
  margin-block-end: 0;
}
footer .mentions .liens-footer a i {
  font-size: 11.92px;
  height: 13px;
  width: 15px;
}
footer .mentions .liens-footer a span {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  footer {
    height: 100px;
  }
  footer .mentions {
    flex-direction: row-reverse;
    align-items: self-end;
    margin-top: 25px;
    margin-right: 30px;
  }
  footer .mentions h3 {
    margin-block-start: 19%;
    margin-block-end: 0;
    text-align: end;
  }
  footer .mentions .liens-footer {
    flex-direction: row;
    align-items: self-end;
    justify-content: space-around;
    height: 100%;
  }
  footer .mentions .liens-footer a {
    margin-right: 30px;
  }
}

/*# sourceMappingURL=style-restaurants.css.map */
