//Animations de l'index
@keyframes loader-hide {
    //Animation de la disparition du loader

    0% {
        height: 250%; //Force le loader a prendre tout l'écran sur la longueur pendant l'animation
        opacity: 1;
        z-index: 3;

    }

    100% {
        opacity: 0;
        z-index: 0;
        display: none;
        box-shadow: 10px 200px $primary;
    }
}

@keyframes rotation {

    //Animation de la roue pendant dans le "loading"
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// Utilsé dans le header, le main et le footer de la page index
@keyframes index-when-loading {

    0% {
        transform: scale(0);
        width: 0px;
        opacity: 0;
    }

    40% {
        transform: scale(0);
        width: 0px;
        opacity: 0;
    }

    90% {
        opacity: 0;
    }
}

// animation des coeurs index et restaurants
@keyframes show-full-heart {
    0% {
        transform: scale(0);
    }
}

@keyframes introduction-menu {
    0% {
        margin-left: 300px;
        opacity: 0;
    }
}

@keyframes introduction-plat-1 {
    0% {
        margin-left: 150px;
        height: 0;
        width: 0;
        opacity: 0;
        color: rgba($color: #ffffff00, $alpha: 1.0);
    }

    40% {
        color: rgba($color: #ffffff00, $alpha: 1.0);
    }
}

@keyframes introduction-plat-2 {
    0% {
        margin-left: 180px;
        height: 0;
        width: 0;
        opacity: 0;
        color: rgba($color: #ffffff00, $alpha: 1.0);
    }

    40% {
        color: rgba($color: #ffffff00, $alpha: 1.0);
    }
}

@keyframes introduction-plat-3 {
    0% {
        margin-left: 200px;
        height: 0;
        width: 0;
        opacity: 0;
        color: rgba($color: #ffffff00, $alpha: 1.0);
    }

    40% {
        color: rgba($color: #ffffff00, $alpha: 1.0);
    }
}

@keyframes prix-reveal {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }
}