//Animations de l'index
@keyframes loader-hide {
    //Animation de la disparition du loader

    0% {
        opacity: 1;
        z-index: 3;
    }

    100% {
        opacity: 0;
        z-index: 0;
        display: none;
    }
}

@keyframes rotation {

    //Animation de la roue pendant dans le "loading"
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//Animations des pages restaurants
@keyframes apparition {

    //Déroule les cartes du restaurant
    0% {
        opacity: 0.8;
        height: 10px;
    }
}

@keyframes look-me {

    //Ajoute un visuel d'ombre sur les titres
    30% {
        opacity: 0.9;
        text-shadow: $gray 1px 3px 5px;
    }
}

// Alternative d'animation pour pages restaurants

//  !! Commenter les lignes 90 et 91 de -main-restaurant.scss avant, pour eviter conflits d'animations !!
.menu-restaurant {
    section {
        animation: introduction-menu 3s;

        .carte-menu {
            &:nth-child(2n) {
                animation: introduction-plat-1 3.5s;
            }

            &:nth-child(3n) {
                animation: introduction-plat-2 4s;
            }

            &:nth-child(4n) {
                animation: introduction-plat-3 4.5s;
            }

            .prix-check {
                animation: prix-reveal 9s;
            }
        }
    }
}

@keyframes introduction-menu {
    0% {
        margin-left: 1500px;
        opacity: 0;
        animation-play-state: paused;
    }
}

@keyframes introduction-plat-1 {
    0% {
        margin-left: 1500px;
        height: 0;
        width: 0;
        opacity: 0;
    }

    40% {
        color: $white;
    }
}

@keyframes introduction-plat-2 {
    0% {
        margin-left: 1800px;
        height: 0;
        width: 0;
        opacity: 0;
    }

    40% {
        color: $white;
    }
}

@keyframes introduction-plat-3 {
    0% {
        margin-left: 2000px;
        height: 0;
        width: 0;
        opacity: 0;
    }

    40% {
        color: $white;
    }
}

@keyframes prix-reveal {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }
}