html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.page-principale {
    width: $max-width;
    margin: auto;
}

.page-principal-index {
    height: 1000px; // Pour un meilleur affichage du loading
}