@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    // @include flex-center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    //@include flex-column;
}

@mixin flex-just-align-center {
    display: flex;
    align-items: center;
    //@include flex-just-align-center;
}

@mixin full-w-h($max-width, $max-height) {
    width: $max-width;
    height: $max-height;
    //@include full-w-h($max-width, $max-height);
}

@mixin background-btn($primary, $secondary) {
    background: linear-gradient($secondary, $primary);
    // @include background-btn($primary, $secondary);
}

@mixin fit-desktop-index {
    width: 953px;
    // @include fit-decktop-index;
}

@mixin font-no-initial-margin {
    margin-block-start: 0;
    margin-block-end: 0;
    //@include font-no-initial-margin;
}

@mixin font-gradiant($primary, $secondary) {
    background: -webkit-linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // @include font-gradiant($primary, $secondary); 
}

@mixin form-no-border {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    //@include form-no-border;
}

@mixin grid-cartes {
    width: 90%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 30px;
    //@include grid-cartes;
}

@mixin litle-transition {
    transition: all 200ms;
    //@include litle-transition;
}

@mixin litle-shadow-box {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);
    //@include litle-shadow-box;
}