// Couleurs 
$background: #f7f7f7;
$primary: #9356dc;
$secondary: #FF79DA;
$new-box-font: #008766;
$new-box-background: #99e2d0;
$white: #ffffff;
$black: #101010;
$gray: #353535;
$localisation-background: #eaeaea;
// Dimensions
$width-restaurant: 634px;
$max-width: 100%;
$max-height: 100%;