.main-restaurant {
    background-color: $background;

    // Gestion de la baniere 
    .baniere {
        width: $max-width;
        height: 330px;
        position: relative;

        top: 50px;

        & img {
            @include full-w-h($max-width, $max-height);
            object-fit: cover;
        }
    }

    // Gestion du menu du restaurant 
    .menu-restaurant {
        padding: 30px 2% 0 2%;
        border-radius: 40px 40px 0 0;
        position: relative;
        z-index: 1;
        @include flex-center;
        flex-direction: column;
        background-color: $background;

        .restaurant-titre {
            width: 349px;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: 1.35em;
            }

            .restaurant-coeur {
                @include flex-center;
                font-size: 24px;
                margin-right: 8%;

                .fa {
                    width: 22px;
                    height: 21px;
                    font-size: 20px;
                    position: absolute;
                    -webkit-text-stroke-width: 1px;
                }

                .base {
                    color: $background;
                    -webkit-text-stroke-color: $black;
                }

                .plein {
                    visibility: hidden;
                }

                &:hover {
                    cursor: pointer;
                }

                &:active .base {
                    visibility: hidden;
                }

                &:active .plein {
                    color: $primary;
                    @include font-gradiant($primary, $pink);
                    visibility: visible;
                }
            }

            @media screen and (min-width: 768px) {
                width: 37%;
                max-width: 300px;
            }
        }

        // Gestion des sections
        section {
            width: 90%;
            height: 310px;
            padding-top: 20px;
            padding-bottom: 20px;
            @include flex-column;
            align-items: center;
            //Animation qui permet le déroulement des plats à désactiver si choix d'animation alternative
            @include apparition;
            animation-play-state: paused;

            &:hover {
                animation-play-state: running;

                .titre-section {
                    animation-play-state: paused;
                }
            }

            // Gestion des titres des sections 
            .titre-section {
                width: 99.8%;
                max-width: $width-restaurant;
                padding-bottom: 0;
                @include look-me; //Animation avec un effet d'ombre pour les titres

                & h3 {
                    width: 13%;
                    max-width: 40px;
                    border-bottom: 3px $new-green solid;
                    margin-block-end: 10px;
                }

            }

            // Gestion des cartes dans les menus
            .carte-menu {
                width: 99.8%;
                max-width: $width-restaurant;
                height: 70px;
                margin-top: 15px;
                background-color: $white;
                box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
                @include flex-just-align-center;
                justify-content: space-between;
                padding-left: 20px;
                border-radius: 15px;
                overflow: hidden;

                .titre-menu {
                    overflow-x: hidden;

                    h4,
                    p {
                        margin-block-start: 3px;
                        margin-block-end: 3px;
                        width: 300px;
                    }

                    h4 {
                        font-size: 15px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

                .prix-check {
                    display: flex;
                    height: $max-height;
                    position: relative;
                    left: 50px;
                    transition: transform 330ms;

                    h5 {
                        display: flex;
                        align-items: flex-end;
                        margin-right: 10px;
                        margin-bottom: 15px
                    }

                    .check {
                        @include flex-center;
                        background-color: $new-green;
                        color: $white;
                        width: 50px;
                        border-radius: 0 15px 15px 0;

                    }
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.12);

                    .prix-check {
                        transform: translate(-50px, 0);
                    }
                }
            }
        }

        .btn {
            width: 186px;
            height: 50px;
            margin-top: 50px;
            margin-bottom: 30px;
            border-radius: 25px;
            color: $white;
            @include flex-center;
            @include background-btn($primary, $pink);

            &:hover {
                filter: brightness(130%);
                box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
                cursor: pointer;
            }
        }
    }

    // Tablettes et plus 
    @media screen and (min-width: 768px) {
        background-color: $white;

        .baniere {
            height: 380px;
        }

        .menu-restaurant {
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}